<div class="username">
    <h1>{{user.username}}</h1>
</div>
<div class="new-post">
    <a href="/newpost">Make a New Post</a>
</div>
<div class="profile-posts">
{{!-- Add all the posts that this user has made here --}}
</div>
{{!-- need to be able to add new posts, and click on old posts to edit them. No idea at all how to go about that..understand the routes but now how to connect them --}}