<p>Hey!</p>
{{#each posts}}
<p>{{this.user}}</p>
{{/each}}
{{!-- Posts that have been made, option to sign in, option to go to dashboard, and option to go to homepage (just redirects here again). Only the homepage link should work, the rest ask you to sign in --}}